#background img{
    width: 1500px;
    height: auto;
    align-self: center;
    justify-content: center;
}

.flute{
position: absolute;
top: 585px;
left: 650px;
}

.sitar{
position: absolute;
top: 490px;
right: 500px;
}

.tabla{
    
    position: absolute;
    top: 555px;
    left: 450px;
}

.harmonium{
    

    position: absolute;
    top: 525px;
    right: 260px;
}

.veena{
    position: absolute;
    top: 590px;
    left: 130px;

}

.veena object{
width: 330px;
}


.flute object{
    width: 260px;
}

 .tabla object  {
    width: 190px;
}

.sitar object {
    width: 210px;
}

.harmonium object{
width: 250px;
}
